.wrapper {
  margin-top: -50px;
  display: flex;
  height: 750px;
  overflow: hidden;
  padding: 0;
  -webkit-mask: linear-gradient(
    0deg,
    transparent,
    white 10%,
    white 90%,
    transparent
  );
  mask: linear-gradient(0deg, transparent, white 10%, white 90%, transparent);
  position: relative;
  width: 100%;
}
.section {
  flex: 1 0 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 750px;
  position: relative;
  width: 1px;
  z-index: 1;
}
.section img {
  width: 100%;
}

.scrolling {
  animation: infScroll 25s linear infinite backwards;
}

@keyframes infScroll {
  to {
    transform: translateY(calc(-100% - 20px));
  }
}
.scrolling2 {
  margin-left: 20px;
  animation: infScroll 20s linear infinite backwards;
}

@keyframes infScroll {
  to {
    transform: translateY(calc(-100% - 20px));
  }
}

.scrolling3 {
  margin-left: 20px;
  animation: infScroll 25s linear infinite backwards;
}

@keyframes infScroll {
  to {
    transform: translateY(calc(-100% - 20px));
  }
}
